<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="BuildFabric.TpcUrl" value="http://vstfdevdiv.redmond.corp.microsoft.com:8080/DevDiv2" />
        <add key ="BuildConfigNameSpace" value ="http://schemas.microsoft.com/build/2005/01/buildsettings"/>
        <add key ="WindowsOSNameSpace" value ="http://schemas.microsoft.com/developer/msbuild/2003"/>
    </appSettings>
</configuration>