<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAIZez6vCykk28fddpwDEiIQQAAAACAAAAAAADZgAAwAAAABAAAAC6OY5MCRolz1wPIyhJhfstAAAAAASAAACgAAAAEAAAAN7KTs9kZO5gdO5u6mwC2/1IAgAAb2hGWWDCAkp5bXeaB0bg9N760KCpKxY/uU8r4KvShjeGUAtNGv+Za0/Y578h6b/JoO1m/ZDNHgj8+BKMuUCKz6DhZp0qehz9IMghriMR9wguhWRT6nDjFLmkdk6/CZrr+ltRIaZNKhvGM9y8d7xsiJQ7TFUzJXBqVheGnmMkTk3zdrMPgvXprtXgaWhGajoGZOfNAQUBYuA/CZXPnCAglfg9w4Ql7yLY39iCLKtUY/mrpfB5o5QGlYDVDMVgMNmIvlpNmNpFPF2l3D4pD7IomVp5Wss3gjo1HoArw1rd+TEeAm29a78HF5a4IN4DDHdVlg5aq3gnpWv0idKCO8VmaKt7VVEKgFQqM/jS6M7SPj3p7RD5quA4DHMjsCXZjs3BxkjEiUyFv4s03F9FXFGwlMoafJUqqgv2XGh6HCyjxM7t33Nkt+QBihcETfTQZK44A5EJhpkBKUpiisIww0j7KVS1vSH0Sqtj9mhqW2nyDIo6ASvbfyaFoyfdxlhcIokL4HdJZ8FDcENeOq7lOTeagqAKHSKY+tYRchhhQBVG+aUxZXwCUk7ChZTskonYonkAZk5c1ZXlaJzwwHBzRRCE3ZbDeZ4CrnoRxElE5WIjlRt2VjJS8OF+4ScHHLvNWNVY0wuq77In+awOrZy13HvAe+e//SOzG1EDQtq4CYavaY6/Py1dZ/rU2e7UjPq23AtNpmFlgFc/VQzZybc+gq27ZIpyybcbIQvft6cCIvLIFHADObZtZljbIdFD2Fo8uVeIeLb8fCzruKkUAAAAUDDN2S2Glksq1LFUZsd/p10cADY=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
</configuration>